html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Merienda", cursive;
  background-color: whitesmoke;
}

.infinite-scroll-loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.infinite-scroll-loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  letter-spacing: 0.25rem;
}

.image-container {
  margin: 0.6rem 25%;
}

.image-container img {
  width: 100%;
  margin-top: 0.25rem;
}

.image-container p {
  text-align: center;
}

.image-container hr {
  margin: 1rem 0;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 1.5rem;
  }

  .image-container {
    margin: 0.8rem;
  }
}
